<h1>{{title}}</h1>
<p>File successfully saved into laji.fi/vihko with id {{vihkoFileId}}</p>
<p><a href="https://laji.fi/vihko/JX.519/{{vihkoFileId}}" class="button edit vihko">edit on Vihko</a></p>
<p>&nbsp;</p>
<p><a href="/send?person_token={{person_token}}">Back to your file list</a></p>