---
---

@import "{{ site.theme }}";

#forkme_banner {
    display: none;
}

#header_wrap .inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.service {
    border: 5px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

#main_content_wrap {
    background-color: #fff;
}